<!-- Update Form -->
<form action="/api/users" method="put" id="update_user">
    <div class="form-group">
        <label for="">Name :</label>
        <input type="hidden" name="id" value="<%= user._id %>">
        <input type="text" name="name" value="<%= user.name %>" placeholder="Adam Groke">
    </div>
    <div class="form-group">
        <label for="">Email :</label>
        <input type="text" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
    </div>
    <div class="form-group">
        <label for="">Gender :</label>
        <div class="radio-inline">
            <input type="radio" name="gender" value="Male" <%= user.gender=="Male"?'checked':"" %>>
            <label for="">Male</label>
        </div>
        <div class="radio-inline">
            <input type="radio" name="gender" value="Female" <%= user.gender=="Female"?'checked':"" %>>
            <label for="">Female</label>
        </div>
    </div>
    <div class="form-group">
        <label for="">Status :</label>
        <div class="radio-inline">
            <input type="radio" name="status" value="Active" <%= user.status=="Active"?'checked':"" %>>
            <label for="">Active</label>
        </div>
        <div class="radio-inline">
            <input type="radio" name="status" value="Inactive" <%= user.status=="Inactive"?'checked':"" %>>
            <label for="">Inactive</label>
        </div>
    </div>
    <div class="bottom-form">
        <button type="submit">Save</button>
    </div>
</form>